<%- include("header") -%>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Enter name of the person to add"><br>
        <input type="text" name="flat_no" placeholder="Enter flat_no"><br>
        <input type="text" name="due" placeholder="Enter due"><br>
        <button type="submit" class="btn btn-primary" name="" value="">Submit</button>
    </form>

<%- include("footer") -%>