<%- include("header") -%>

    <form action="/retry" method="post">
        <h1>you have entered the wrong password!</h1>
        <button type="submit" class="btn btn-primary" name="retry" value="">Retry</button>
    </form>

<%- include("footer") -%>