<%- include("header") -%>

  <main class="px-3">
    <h1>Welcome!</h1>

    <form action="/" method="post">
      <input type="text" name="name" placeholder="Enter name"><br>
      <input type="text" name="password" placeholder="Enter password" autocomplete="off"><br>
      <button type="submit" class="btn btn-primary" name="" value="">Login</button>
    </form>
  </main>

<%- include("footer") -%>