<%- include("header") -%>

<form action="/option" method="post">
    <div class="row">
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View</h5>
            <p class="card-text">To view the details.</p>
            <button type="submit" class="btn btn-primary" name="btn" value="View">click</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add</h5>
            <p class="card-text">To add an entry.</p>
            <button type="submit" class="btn btn-primary" name="btn" value="Add">click</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Update</h5>
            <p class="card-text">To update an entry.</p>
            <button type="submit" class="btn btn-primary" name="btn" value="Update">click</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Delete</h5>
            <p class="card-text">To delete an entry.</p>
            <button type="submit" class="btn btn-primary" name="btn" value="Delete">click</button>
          </div>
        </div>
      </div>
    </div>
  </form>
 
<%- include("footer") -%>