<%- include("header") -%>

    <form action="/update" method="post">
        <input type="text" name="name" placeholder="Enter name of the person"><br>
        <input type="text" name="due" placeholder="Enter updated due amount"><br>
        <button type="submit" class="btn btn-primary" name="" value="">Submit</button>
    </form>

<%- include("footer") -%>